<div class="home">
  
  <h1>WELCOME TO GITHUB-WEBSITE</h1>
  <div id="home">
  <P>GET TO KNOW ABOUT MY REPOSITORIES</P>
  <h2>Tracymbone</h2>
    <p> Github is a site where <br> i post my projects online<br> I have created several repository like:
  </p>
  <ul>
    <li><a href="https://github.com/Tracymbone/photography-website">Photography-website</a></li>
    <li><a href="https://github.com/Tracymbone/portfolio">potofolio</a></li>
    <li><a href="https://github.com/Tracymbone/akan">akan</a></li>
    <li><a href="https://github.com/Tracymbone/ORDER-PIZZA">ORDER-PIZZA</a></li>
    
</ul>
 

</div> 
</div>
<!-- <app-footer></app-footer> -->
